body {
    background-color: #F9F9FB;
    color: #4D4D4D;
}

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #89D5C9;
}

.splitdiv {
    max-width: 170vh;
    max-height: 60vh;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px gainsboro;
}

.leftsplit {
    width: 45%;
    float: left;
    background-image: url("../assets/images/ImgLogin.PNG");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rightsplit {
    background-color: white;
    width: 55%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
}